@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-5xl font-bold text-light-text dark:text-dark-text;
  }

  .text-standard {
    @apply text-light-text dark:text-dark-text;
  }

  .bg-standard {
    @apply bg-light-gray dark:bg-dark-gray;
  }
  .button-standard {
    @apply flex-shrink-0 select-none rounded-md bg-[#355070]  py-1  px-2 text-lg text-white transition-all delay-75 duration-700 hover:bg-[#6d597a];
  }

  .border-standard {
    @apply border-8 dark:border-dark-text;
  }
}

/* these two in conjunction disable overscrolling */
html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
  width: 12px;
}
